---
title: Hello, I’m Liam
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<section class="preamble">
  <p>This website is my place for <a href="/posts/">writing</a> about the web and software product management. If you like what you read and would like to stay up-to-date, you can <a href="/feed/feed.xml">subscribe to my RSS feed</a>.</p>

  <p>It’s also a home for my side projects like <a href="/projects">Lanark: a font in one weight</a> that’s inspired by Alasdair Gray. (Pssst — that’s the font used in the header above!)</p>
  <p>If you are curious about why this site looks the way it does, you can read a bit more about the <a href="/posts/how-this-site-is-coded/">decisions I made</a> to put it together.</p>
  <p>And if you’d like me to speak at your event, or on your <a href="https://liamnugent.me/posts/world-wide-waste-podcast/">podcast</a>, I’d love to hear about it. Please <a href="mailto:liam@greenhilldigital.com">drop me an email</a> with the details.</p>
  <p>I’m on <a href="https://twitter.com/liamjnugent/">Twitter</a> and <a href="https://github.com/liamgreenhill">GitHub</a>.</p>
</section>



  <h2>Latest posts</h2>

  {% set postslist = collections.posts | head(-5) %}
  {% set postslistCounter = collections.posts | length %}
  {% include "postslist.njk" %}
  <p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>


