<!doctype html>
<html id="start" class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ renderData.title or title or metadata.title }} - Liam Nugent</title>
  <meta name="description" content="{{ renderData.description or description or metadata.description }}">
  <meta name="author" content="Liam Nugent">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="manifest" href="/site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">

  <link rel="stylesheet" href="{{ '/css/normalize.css' | url }}">
  <link rel="stylesheet" href="{{ '/css/main.css' | url }}">
  <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">

  <meta name="theme-color" content="#fafafa">
</head>




<body>

  {{ content | safe }}

  <nav>
    <h3>Navigation</h3>
    {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
    <ul>
    {%- for entry in collections.all | eleventyNavigation %}
      <li><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
    {%- endfor %}
    </ul>
  </nav>

  <footer>
    <p class="copyright">Copyright © 2020 Liam Nugent. <span>All rights reserved.</span> <a href="#start">Back to top</a></p>
  </footer>

  <!-- Current page: {{ page.url | url }} -->

</body>

</html>
