<!doctype html>
<html id="start" class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ renderData.title or title or metadata.title }} - Liam Nugent</title>

  <meta name="description" content="{{ renderData.description or description or metadata.description }}">
  <meta name="author" content="Liam Nugent">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#fafafa">

  <!--  Essential meta tags for social media post cards -->
  <meta property="og:title" content="{{ renderData.title or title or metadata.title }}">
  <meta property="og:description" content="{{ renderData.description or description or metadata.description }}">
  <meta property="og:image" content="https://liamnugent.me/img/og_image-1.jpg">
  <meta property="og:url" content="https://liamnugent.me{{ page.url | url }}" >
  <meta name="twitter:card" content="summary_large_image">
  <!--  Non-essential, but recommended, meta tags for social media post cards-->
  <meta property="og:site_name" content="Liam Nugent">
  <meta name="twitter:image:alt" content="Vibrant purple freehand line that roughly bisects the screen horizontally with a dip in the centre.">
  
  <link rel="preload" href="/_includes/css/fonts/lanark-regular.woff2" crossorigin="anonymous" as="font" type="font/woff2">

  <link rel="apple-touch-icon" href="icon.png">
  <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
  <link rel="canonical" href="https://liamnugent.me{{ page.url | url }}">

  {% set css %}
    {% include "css/main.css" %}
  {% endset %}
  <style>
    {{ css | cssmin | safe }}
  </style>
</head>

<body>

  {{ content | safe }}

  <nav>
    <h2>Navigation</h2>
    <ul>
    {%- for entry in collections.all | eleventyNavigation %}
      <li><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
    {%- endfor %}
    </ul>
  </nav>

  <footer>

    <p class="copyright">Copyright © 2018–{{ helpers.currentYear() }} Liam Nugent.
      <span>All rights reserved.</span>
      <a href="/accessibility">Accessibility Statement</a>
      <a href="/privacy">Privacy Statement</a>
      <a href="#start">Back to top</a>
    </p>
  </footer>

  <!-- Current page: {{ page.url | url }} -->

</body>

</html>
