---
layout: layouts/base.njk
---

  <header>
    <h1>{{ title }}</h1>
    <svg viewBox="0 0 376 55" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Artboard" stroke="none" stroke-width="1" fill="none" stroke-linecap="square">
            <path d="M3,19.1750897 C73,11.1750897 120,-7.82491029 145,11.1750897 C170,30.1750897 179.548554,52.1750897 212,52.1750897 C244.451446,52.1750897 254.902901,16.2929845 275,11.1750897 C288.398066,7.76315983 321.064733,7.76315983 373,11.1750897" id="Path" stroke="#BD10E0" stroke-width="5"></path>
        </g>
    </svg>
  </header>

  <main>
    <article>

      <p class="standfirst">{{ description }}</p>

      {{ content | safe }}

     {#  <p><a href="{{ '/' | url }}">← Home</a></p> #}

      <footer>
        <p class="byline">Posted on <time datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time> by Liam Nugent.</p>
        <p class="about-the-author">Liam Nugent leads teams that design and build successful digital products. He's been doing so since 2010.</p>
      </footer>

    </article>
    
  </main>
